# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio-relaterade filer

.vs/

.vscode/

*.user

*.suo

*.userosscache

*.sln.docstates




# Build-kataloger

obj/
bin/

Debug/

Release/

build/

BuildArtifacts/




# Paket

*.nupkg

*.snupkg

packages/

project.lock.json

project.fragment.lock.json

artifacts/




# Loggfiler

*.log

*.tlog

*.log.json




# Temporary-filer

*.tmp

*.temp

*.cache

*.pdb

*.ilk

*.idb

*.opendb




# IIS-konfigurationsfiler

appsettings.Development.json

appsettings.*.local.json




# Distribution och publicering

publish/


dist/




# Resurser och externa verktyg

node_modules/

bower_components/

npm-debug.log*

yarn-error.log*




# Windows-specifika filer

Thumbs.db

ehthumbs.db

Desktop.ini

$RECYCLE.BIN/




# Mac-specifika filer

.DS_Store

.AppleDouble

.LSOverride




# Linux-specifika filer

*~




# Git-specifika filer

!.gitignore




# Rider/JetBrains-specifika filer

.idea/

*.sln.iml

*.iml

.idea_modules/

.idea/gradle.xml

.idea/misc.xml

.idea/runConfigurations/

.idea/workspace.xml

*.iws




# Lokala inställningar och cache

*.swp

*.swo

*.bak

*.orig