.GameCard {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.GameCard:hover {
    transform: translateY(-5px);
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.game-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(45, 0, 65, 0.85), rgba(0,0,0,0.2));
    opacity: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    transition: opacity 0.3s ease;
}

.GameCard:hover .game-info:hover {
    opacity: 1;
}

.gameTitle {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.game-info p {
    font-size: 0.9rem;
    margin: 4px 0;
}

.GameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Anpassar sig automatiskt */
  gap: 58px; /* ökat från 20px till 30px */
  padding: 40px;
}

.GameCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(138, 43, 226, 0.6); /* Lila glow */
}


/* CSS for genre title on genreDetail */

.genre-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}


.back-button {
    color: white;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* lite luft under knappen */
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.back-button:hover {
    background-color: #9656ce; /* mörkare blå vid hover */
}
