/* 
    Detta är css för det som hör till layout exempelvis: footer, header och lite för main, 
    Resterande för main kommer delas upp i andra css filer beroende på vilken komponent de hamnar i. 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    min-height: 100vh;
    overflow-x: hidden;
} 

main{
    width: 100%;
    padding: 2rem;
    flex: 1;
}

.Wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    position: relative;
    color: white;
    margin-top: 1rem;
    z-index: 500;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    transition: margin-right 0.5s ease;
}

.Logo-text, .Logo-text a {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    user-select: none;
}

.LogIn-signUp-Links{
    display: flex;
    gap: 1rem;
}

.LogIn-signUp-Links a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

.LogIn-signUp-Links a:hover{
    color: #9656ce;
}

.menu-wrapper{
    position: relative;
}

.menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-icon:hover {
    color: #9656ce;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    padding: 2rem 1rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

.side-menu a {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    user-select: none;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu a:hover {
    color: #9656ce;
}

.right-section.menu-open {
    margin-right: 150px;
    transition: margin-right 0.5s ease;
}

footer {
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 500;
    transition: margin-bottom 0.5s ease;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    font-weight: bold;
    gap: 10px;
}

.menu-item:hover {
    color: #9656ce;
}

.submenu {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    animation: slideDown 0.3s ease;
}

.submenu a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.submenu a:hover {
    color: #9656ce;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-5px);}
    to { opacity: 1; transform: translateY(0); }
}
