.SignUp-Wrapper {
    position: fixed;
    inset: 0;
    min-height: 100vh;
    width: 100%;
    background-image: url('/img/gameConsole.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}

.SignUp-Wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
    pointer-events: none;
}

.SignUp-Form-Container {
    position: relative;
    z-index: 1;
    background-color: rgba(20, 20, 20, 0.9);
    padding: 2.5rem;
    border-radius: 20px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    color: white;
    text-align: center;
    
}

.SignUp-Form-Container h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.SignUp-Form-Container input {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #222;
    color: white;
    font-size: 1rem;
}

.SignUp-Form-Container label {
    margin-top: 0.7rem;
}

.SignUp-Form-Container button {
    width: 100%;
    padding: 0.9rem;
    margin-top: 0.5rem;
    background-color: #9656ce;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SignUp-Form-Container button:hover {
    background-color: #7b43aa;
}

.SignUp-Form-Container button:focus {
    outline: 2px solid #7b43aa;
    outline-offset: 2px;
}

.alt-SignUp-Options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.6rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alt-SignUp-Options button:hover {
    background-color: #883cca;
}

.SignUp-Line {
    margin-top: 0.5rem;
    margin-bottom: -0.4rem;

}

@media screen and (max-width: 1500px) {
    .SignUp-Wrapper {
        align-items: flex-start;
        padding-top: 0.5rem;

    }
    .SignUp-Form-Container {
        padding: 1.5rem;
        width: 95%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .SignUp-Form-Container h2 {
        font-size: 1.4rem;
    }

    .SignUp-Form-Container input {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    .SignUp-Form-Container button {
        padding: 0.7rem;
    }

    .alt-SignUp-Options {
        gap: 0.7rem;
    }
}